:root {
  --light-gray: #d6d6d6ff;
  --aureolin: #ffee32ff;
  --cyber-yellow: #ffd100ff;
  --eerie-black: #202020ff;
  --jet: #333533ff;
}

* {
  border: 0px;
  margin: 0px;
}

body {
  min-height: 100vr;
  background-color: var(--light-gray);
}
.header {
  background-color: var(--eerie-black);
}

.nav-conteiner {
  /* navigation bar flex properties*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-item {
  border: 1px solid blue;
  padding: 8px 8px;
  width: 8rem;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  font-weight: 800;
  color: var(--cyber-yellow);
  font-size: 1.5rem;
}

.nav-item a:hover {
  color: var(--aureolin);
  text-decoration: underline;
  font-size: 1.4rem;
}

/* tablet properties*/
@media screen and (max-width: 768px) and (min-width: 577px) {
  .nav-conteiner {
    justify-content: center;
  }
}

/* mobile properties*/
@media screen and (max-width: 576px) {
  .nav-conteiner {
    justify-content: center;
  }

  .nav-item {
    width: 100%;
  }
}
